@tailwind base;
@tailwind components;
@tailwind utilities;

#form-shadow {
  @apply shadow-md;
}

body {
  overflow-x: hidden;
}

.w-calc {
  width: 100vw;

  @media screen and (min-width: 640px) {
    width: calc(100vw - 20rem);
  }
}

#masonry img {
  width: 300px;
}

img {
  transition: 250ms;
  cursor: pointer;
}

img:hover {
  filter: brightness(0.5);
}

.loader {
  width: 48px;
  height: 48px;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rot 1s linear infinite;
}

@keyframes rot {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
